/* Resetting default styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgb(255 255 255 / 83%), #ffffffe8), url(CC-Routes-1.jpg);
  background-size: cover;
  height: 100vh;
}

/* Container styles */
.container {
  width: 80%;
  max-width: 800px;
  padding: 20px;
  background-color: #fff; /* Set container background to white */
  border-radius: 10px;
  /* Apply box-shadow for 3D effect */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 0 40px rgba(0, 0, 0, 0.1);
  margin: 50px auto; /* Center the container horizontally */
}

/* Headings and paragraphs */
h1, p {
  text-align: center;
  margin-bottom: 20px;
}

/* Form styles */
form {
  padding: 20px;
  border-radius: 10px;
}

/* Label styles */
label {
  display: block;
  margin-bottom: 10px;
}

/* Dropdown styles */
select,
textarea {
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  height: 40px; /* Increased height */
}

/* Button styles */
button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

/* Button hover effect */
button:hover {
  background-color: #0056b3;
}
